/header部分
%header.header
  .header__content
    .header__content__main
      %h1.header__content__main__logo
        = link_to "#", class: "header__content__main__logo__link" do
          = image_tag asset_path('logo.png'), class: "header__content__main__logo__link__img"
      .header__content__main__search-box
        %form.header__content__main__search-box__form
          %input.header__content__main__search-box__form__input{placeholder: "キーワードから探す"}
          %button.header__content__main__search-box__form__btn{type: "submit"}
            .header__content__main__search-box__form__btn__icon
              = image_tag asset_path('icon-search 1.png'), class: "header__content__main__search-box__form__btn__icon__img"
    .header__content__nav
      %ul.header__content__nav__left-list
        %li.header__content__nav__left-list__item
          = link_to "カテゴリー", "#", class: "header__content__nav__left-list__item__link"
        %li.header__content__nav__left-list__item
          = link_to "ブランド", "#", class: "header__content__nav__left-list__item__link" 
      %ul.header__content__nav__right-list
        - if user_signed_in?
          %li.header__content__nav__right-list__item
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__content__nav__right-list__item__link" 
          %li.header__content__nav__right-list__item
            = link_to "マイページ", "#", class: "header__content__nav__right-list__item__link" 
        - else
          %li.header__content__nav__right-list__item
            = link_to "ログイン", new_user_session_path, class: "header__content__nav__right-list__item__link" 
          %li.header__content__nav__right-list__item
            = link_to "新規会員登録", new_user_registration_path, class: "header__content__nav__right-list__item__link"