= render partial: 'sub-header'

%main.main
  .main__center-items
    %h1.content-head
      購入内容の確認

    .content-middle
      .item

        -# 商品の画像を表示今は仮置き
        .item__image-box
          = image_tag asset_path('logo.png'), class: 'item-image'
        
        -# 商品の名前、値段を表示
        .item__info
          %p.item__info__name
            item name
          %p.item__info__price
            999999999999999999999

    .content-bottom
      .content-bottom__inner
        .buy-price
          %h2.buy-price__name
            支払い金額
          
          -# 支払い金額を表示
          %p.buy-price__result
            2500
        %hr.partition
        .info
          %h3.info__title
            支払い方法
          
          -# 条件分岐でクレジットカードが登録されていなかったら登録ページにとぶ
          = link_to "#", class:"link-btn" do
            = icon('fas', 'plus-circle', class: "plus-icon")
            登録してください
        %hr.partition
        .info
          %h3.info__title
            配達先

          -# 条件分岐で配達先が登録されていなかったら登録ページにとぶ
          = link_to "#", class:"link-btn" do
            = icon('fas', 'plus-circle', class: "plus-icon")
            登録してください
        %hr.partition
        %input.submit-btn{type: "submit", value: "購入する"}

= render partial: 'sub-footer'