= render partial: 'header'

%main.delivery-info-main
  .my-container
    .my-side
      .my-side__navigation
        .my-side__navigation__list
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              マイページ
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              お知らせ
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              いいね！一覧
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              出品する
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              下書き一覧
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              出品した商品-出品中
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              出品した商品–取引中
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              出品した商品–売却中
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              購入した商品–取引中
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              購入した商品–過去の取引
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              ニュース一覧
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              評価一覧
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              ガイド
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              お問い合わせ
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
        .my-side__navigation__head メルペイ
        .my-side__navigation__list
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              売上・振込申請
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              ポイント
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
        .my-side__navigation__head 設定
        .my-side__navigation__list
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              プロフィール
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              発送元・お届け先住所
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              支払い方法
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              メール/パスワード
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item active' do
              本人情報
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              電話番号の確認
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')
          %li
            = link_to '#', class: 'my-side__navigation__list__item' do
              ログアウト
              .my-side__navigation__list__item__icon
                = icon('fas', 'angle-right')

    .main__center
      %h1.content-head
        本人情報の登録
      .content-main
        .content
          .content__text
            お客さまの本人情報をご登録ください。<br>
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。

          .content__link 
            = link_to "#", class:"link-btn" do
              本人確認書類のアップロードについて
              = icon('fas', 'angle-right', class: "angle-right-icon")
          
          .content__title
            %h2.content__title__name
              お名前
          -# ログインユーザーの名前を表示
          .content__text
            仮置きの名前

          .content__title
            %h2.content__title__name
              お名前カナ
          -# ログインユーザーのフリガナを表示
          .content__text
            カリオキノフリガナ

          .content__title
            %h2.content__title__name
              生年月日
          -# ログインユーザーの生年月日を表示
          .content__text
            19##/##/##
          
          .content__title
            %h2.content__title__name
              郵便番号
            %h2.content__title__tag-optional
              任意
          %input.input-text{type: "text", placeholder: "例）1234567"}
          
          .content__title
            %h2.content__title__name
              都道府県
            %h2.content__title__tag-optional
              任意
          %input.input-select{type: "search", list: "state"}
          %datalist#state
            %option{value: ""} 選択してください
            %option{value: "北海道"} 北海道
            %option{value: "青森県"} 青森県
            %option{value: "岩手県"} 岩手県
            %option{value: "宮城県"} 宮城県
            %option{value: "秋田県"} 秋田県
            %option{value: "山形県"} 山形県
            %option{value: "福島県"} 福島県
            %option{value: "茨城県"} 茨城県
            %option{value: "栃木県"} 栃木県
            %option{value: "群馬県"} 群馬県
            %option{value: "埼玉県"} 埼玉県
            %option{value: "千葉県"} 千葉県
            %option{value: "東京都"} 東京都
            %option{value: "神奈川県"} 神奈川県
            %option{value: "新潟県"} 新潟県
            %option{value: "富山県"} 富山県
            %option{value: "石川県"} 石川県
            %option{value: "福井県"} 福井県
            %option{value: "山梨県"} 山梨県
            %option{value: "長野県"} 長野県
            %option{value: "岐阜県"} 岐阜県
            %option{value: "静岡県"} 静岡県
            %option{value: "愛知県"} 愛知県
            %option{value: "三重県"} 三重県
            %option{value: "滋賀県"} 滋賀県
            %option{value: "京都府"} 京都府
            %option{value: "大阪府"} 大阪府
            %option{value: "兵庫県"} 兵庫県
            %option{value: "奈良県"} 奈良県
            %option{value: "和歌山県"} 和歌山県
            %option{value: "鳥取県"} 鳥取県
            %option{value: "島根県"} 島根県
            %option{value: "岡山県"} 岡山県
            %option{value: "広島県"} 広島県
            %option{value: "山口県"} 山口県
            %option{value: "徳島県"} 徳島県
            %option{value: "香川県"} 香川県
            %option{value: "愛媛県"} 愛媛県
            %option{value: "高知県"} 高知県
            %option{value: "福岡県"} 福岡県
            %option{value: "佐賀県"} 佐賀県
            %option{value: "長崎県"} 長崎県
            %option{value: "熊本県"} 熊本県
            %option{value: "大分県"} 大分県
            %option{value: "宮崎県"} 宮崎県
            %option{value: "鹿児島県"} 鹿児島県
            %option{value: "沖縄県"} 沖縄県 
          
          .content__title
            %h2.content__title__name
              市区町村
            %h2.content__title__tag-optional
              任意
          %input.input-text{type: "text", placeholder: "例）横浜市緑区"}
          
          .content__title
            %h2.content__title__name
              番地
            %h2.content__title__tag-optional
              任意
          %input.input-text{type: "text", placeholder: "例）青山1-1-1"}
          
          .content__title
            %h2.content__title__name
              建物名
            %h2.content__title__tag-optional
              任意
          %input.input-text{type: "text", placeholder: "例）柳ビル103"}

          %input.submit-btn{type: "submit", value: "登録する"}

          .content__link 
            = link_to "#", class:"link-btn" do
              本人確認書類のアップロードについて
              = icon('fas', 'angle-right', class: "angle-right-icon")


  = render partial: 'app-banner'

  = render partial: 'footer'

  = render partial: 'purchase-btn'