.my-container
  .my-content
    .mypage__content
      = link_to '#', class: 'content__link' do
        %figure
        %img.icon{src: 'assets/material/icon/member_photo_noimage_thumb.png'}
        %h2.test-name テスト フリマ
        .mypage-content__number
          .evaluation
            評価
            %span.count 0
          .exhibition
            出品数
            %span.count 0
    .mypage__content__tab
      %ul.content-tabs
        %li
          %h3
          = link_to '#', class: 'comtent__btn' do
            お知らせ
        %li.todo
          %h3
          = link_to '#', class: 'comtent__btn' do
            やることリスト
    .tab-box
      %ul{id: 'tab-box-notification'}
        %li.tab-box-list
          = link_to '一覧を見る', '#'
      %ul{id: 'tab-box-todo'}
        %li.todo-not-item
          現在、やることリストはありません
  .my-side
    .my-side__navigation
      .my-side__navigation__list
        %li
          = link_to '#', class: 'my-side__navigation__list__item　active'
            マイページ
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            お知らせ
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            いいね！一覧
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            出品する
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            下書き一覧
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            出品した商品-出品中
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            出品した商品－取引中
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            出品した商品ー売却中
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            購入した商品ー取引中
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            購入した商品ー過去の取引
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            ニュース一覧
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            評価一覧
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            ガイド
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            お問い合わせ
      %h3.my-side__navigation__head メルペイ
      .my-side__navigation__list
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            売上・振込申請
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
            ポイント
      %h3.my-side__navigation__head 設定
      .my-side__navigation__list
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          プロフィール
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          発送元・お届け先住所
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          支払い方法
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          メール/パスワード
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          本人情報
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          電話番号の確認
        %li
          = link_to '#', class: 'my-side__navigation__list__item'
          ログアウト

