= render partial: 'header'

/コンテンツ部分
.main
  %section.main__visual
    .main__visual__content
      %h2.main__visual__content__subtitle
        %br
        人生を変えるフリマアプリ
      %p.main__visual__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__visual__content__btn
        = link_to "#", class: "main__visual__content__btn__apple-store-link" do
          = image_tag asset_path('apple-store.svg'), class: 'main__visual__content__btn__apple-store-link__img'
        = link_to "#", class: "main__visual__content__btn__google-play-link" do
          = image_tag asset_path('google-play.svg'), class: 'main__visual__content__btn__google-play-link__img'
  
  %section.main__introduction
    %h2.main__introduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.main__introduction__lists
      %li.main__introduction__lists__list
        .main__introduction__lists__list__pict
          %span.main__introduction__lists__list__pict__number
            1
          = image_tag asset_path('pict-reason-01.jpg'), class: 'main__introduction__lists__list__pict__img'
        %h3.main__introduction__lists__list__text
          %span
            3分
          ですぐに出品
        %p.main__introduction__lists__list__description
          スマホで入力するだけで簡単に出品できる！
      %li.main__introduction__lists__list
        .main__introduction__lists__list__pict
          %span.main__introduction__lists__list__pict__number
            2
          = image_tag asset_path('pict-reason-02.jpg'), class: 'main__introduction__lists__list__pict__img'
        %h3.main__introduction__lists__list__text
          %span
            シンプル
          で使いやすい
        %p.main__introduction__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main__introduction__lists__list.main__introduction__lists__list-last
        .main__introduction__lists__list__pict
          %span.main__introduction__lists__list__pict__number
            3
          = image_tag asset_path('pict-reason-03.jpg'), class: 'main__introduction__lists__list__pict__img'
        %h3.main__introduction__lists__list__text
          手数料
          %span
            業界最安
        %p.main__introduction__lists__list__description
          最大3%でお得に出品&購入！
  
  %section.main__middle-dl
    .main__middle-dl__inner
      %h2.main__middle-dl__inner__subtitle
        会員数日本一位
      %p.main__middle-dl__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__middle-dl__inner__btn
        = link_to "#", class: "main__middle-dl__inner__btn__apple-store-link" do
          = image_tag asset_path('apple-store.svg'), class: 'main__middle-dl__inner__btn__apple-store-link__img'
        = link_to "#", class: "main__middle-dl__inner__btn__google-play-link" do
          = image_tag asset_path('google-play.svg'), class: 'main__middle-dl__inner__btn__google-play-link__img'

  %section.main__key-features
    %h2.main__key-features__subtitle
      FURIMAの特徴
    .main__key-features__items
      %section.main__key-features__items__item
        = image_tag asset_path('icon-01.png'), class: 'main__key-features__items__item__img'
        %h3.main__key-features__items__item__subtitle
          簡単に売り買いできる
        %p.main__key-features__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.main__key-features__items__item
        = image_tag asset_path('icon-03.png'), class: 'main__key-features__items__item__img'
        %h3.main__key-features__items__item__subtitle
          売上金は即日振込みに対応
        %p.main__key-features__items__item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.main__key-features__items__item
        = image_tag asset_path('icon-04.png'), class: 'main__key-features__items__item__img'
        %h3.main__key-features__items__item__subtitle
          様々な支払いに対応
        %p.main__key-features__items__item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.main__pickup
    %h2.main__pickup__subtitle
      ピックアップ商品一覧
    .main__pickup__product
      .main__pickup__product__head
        = link_to "#", class: "main__pickup__product__head__link" do
          %h3.main__pickup__product__head__link__title
            新規投稿商品
          .items-box
            = render @items
  -#     .main__pickup__product__lists
  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample3.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product3
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   30000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)
        
  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample2.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product2
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   20000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)

  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample1.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product1
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   10000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)
  -# %section.main__pickup
  -#   %h2.main__pickup__subtitle
  -#     ピックアップブランド
  -#   .main__pickup__product
  -#     .main__pickup__product__head
  -#       = link_to "#", class: "main__pickup__product__head__link" do
  -#         %h3.main__pickup__product__head__link__title
  -#           アーカイバ
  -#     .main__pickup__product__lists
  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample3.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product3
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   30000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)
        
  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample2.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product2
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   20000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)

  -#       .main__pickup__product__lists__list
  -#         = link_to "#", class: "main__pickup__product__lists__list__link" do
  -#           = image_tag asset_path('product-sample1.png'), class: 'main__pickup__product__lists__list__link__img'
  -#           .main__pickup__product__lists__list__link__body
  -#             %h3.main__pickup__product__lists__list__link__body__name
  -#               product1
  -#             .main__pickup__product__lists__list__link__body__details
  -#               %ul.main__pickup__product__lists__list__link__body__details__lists
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   10000円
  -#                 %li.main__pickup__product__lists__list__link__body__details__lists__list
  -#                   = icon('fa', 'star', class: "favorite-icon")
  -#                   0
  -#               %p.main__pickup__product__lists__list__link__body__details__include-tax
  -#                 (税込)

= render partial: 'app-banner'

= render partial: 'footer'

= render partial: 'purchase-btn'
