= render partial: 'header'

/パンクズ機能
%nav.bread-crumbs
  %ul
    %li
      = link_to "FURIMA", "#"
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to @item.category.root.name,"#"
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to @item.category.parent.name,"#"
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to @item.category.name,"#"
    %li
      = icon('fa', 'angle-right')
    %li
      %p
        = @item.name
.main 
  - if flash[:buy_notice]
    .flash-message
      = flash[:buy_notice]
  -if flash[:buy_alert]
    .flash-message
      = flash[:buy_alert]
  - if flash[:item_delete_alert]
    .flash-message
      = flash[:item_delete_alert]
  .main__show
    .main__show__content
      .main__show__content__item-box
        %h2.main__show__content__item-box__name
          = @item.name
        .main__show__content__item-box__body
          = image_tag @item.images[0].url.url
          %ul
            - @item.images.each do |image|
              %li
                = image_tag image.url.url

        .main__show__content__item-box__price
          %span
            ¥
            = @item.price
          .main__show__content__item-box__price__detail
            %span
              (税込)
            %span
              送料込み
        -# 編集・削除ボタン（ログイン時に出る）
        - if user_signed_in?
          - if current_user.id == @item.user_id
            .main__show__content__item-box__login
              = link_to "/items/#{@item.id}/edit", method: :get, class: "show-page-btn" do
                商品の編集
              = link_to "/items/#{@item.id}", method: :delete , class: "show-page-btn item-delete-btn" do
                商品の削除
          - else
            - if @item.buyer_id.blank?
              - if @card.blank?
                = link_to "カードを登録" , new_card_path, class: "show-page-btn", data: { turbolinks: false}
              - else
                = link_to "カードで購入" , confirm_item_card_path(@item, @card), class: "show-page-btn", data: { turbolinks: false}
            - else
              .sold-out-message
                売り切れ
        - else
          = link_to "ログインして購入" , new_user_session_path, class: "show-page-btn"
        .main__show__content__item-box__text
          = @item.content
        .main__show__content__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  hoge
              %tr
                %th
                  カテゴリー
                %td
                  = link_to @item.category.root.name,"#"
                  = link_to @item.category.parent.name,"#"
                  = link_to @item.category.name,"#"
              %tr
                %th
                  ブランド
                %td
              %tr
                %th
                  商品のサイズ
                %td
              %tr
                %th
                  商品の状態
                %td
                  = @item.status
              %tr
                %th
                  配送料の負担
                %td
                  = @item.postage
              %tr
                %th
                  発送元の地域
                %td
                  = link_to @item.prefecture.name
              %tr
                %th
                  発送日の目安
                %td
                  = @item.shipping_days
        .main__show__content__item-box__optional
          %ul.main__show__content__item-box__optional__lists
            %li.main__show__content__item-box__optional__lists__btn.favorite-btn#favorite-btn
              = icon('fa', 'star')
              お気に入り 0
            %li.main__show__content__item-box__optional__lists__btn
              = link_to "#" do
                = icon('fa', 'flag')
                不適切な商品の通報
      .main__show__content__comment-box
        %form.main__show__content__comment-box__new-comment#new-comment
          %textarea.main__show__content__comment-box__new-comment__text#comment-text
          %p.main__show__content__comment-box__new-comment__notice-message
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.main__show__content__comment-box__new-comment__send-btn{:name => "button", :type => "submit"}
            = icon('fa', 'comment')
            コメントする

    %ul.main__show__links
      %li.main__show__links__list
        = link_to "#" do
          = icon('fa', 'angle-left')
          前の商品
      %li.main__show__links__list
        = link_to "#" do
          後ろの商品
          = icon('fa', 'angle-right')
    .main__show__related-items
      = link_to "#" do
        ベビー・キッズをもっと見る


= render partial: 'app-banner'

= render partial: 'footer'

= render partial: 'purchase-btn'