-# FURIMAのロゴ
.sub-header
  .sub-header__content
    %h1.sub-header__content__logo
      %img.sub-header__content__logo__image{src: 'assets/material/logo/logo.png'}

%main.items__new__main
  -# ログイン画面
  .login
    .login__menu
      アカウントをお持ちでない方はこちら
      = link_to "#", class: "btn email" do
        新規会員登録

    -# 既に登録している人のボタン
    .login__inner
      = link_to "#", class: "btn facebook" do
        = icon('fab', 'facebook-square')
        Facebookで登録
      = link_to "#", class: "btn google" do
        = icon('fab', 'google')
        Googleで登録

    -# アドレス・パスワード記入欄
    .login__new
      %form.login__new__content
        .login__new__content__mail
          %input{type: "text", class: "mail",placeholder: "メールアドレス"}
        .login__new__content__password
          %input{type: "text", class: "password",placeholder: "パスワード"}
        .login__new__content__submit
          %input{type: "submit", class: "submit", value: "ログイン"}
        .login__new__content__forget
          = link_to "#", class: "forget" do
            パスワードをお忘れの方


-# トップページのフッター　
%footer.sub
  .sub-footer
    .sub-footer__content
      %ul
        %li<
          %a{ :href => '#', :id => 'privacy' }
            プライバシーポリシー
        %li<
          %a{ :href => '#', :id => 'tos' }
            FURIMA利用規約
        %li<
          %a{ :href => '#', :id => 'tokutei' }
            特定商取引に関する規約
      .sub-footer__content__logo
        %img.sub-footer__content__logo__image{src: 'assets/material/logo/logo.png'}
      %p
        %small
          FURIMA,Inc.