= render partial: 'sub-header'

%main.items__new__main.small
  -# 登録ボタン
  .contents
    .contents__menu
      新規会員登録
    .contents__btns
      = link_to "#", class: "btns mail" do
        = icon('far', 'envelope')
        メールアドレスで登録
      = link_to "#", class: "btns facebook" do
        = icon('fab', 'facebook-square')
        Facebookで登録
      = link_to "#", class: "btns google" do
        = icon('fab', 'google')
        Googleで登録

= render partial: 'sub-footer'